{% extends 'index.html' %}

{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center mb-4">
        <h1>Alle Paarungen</h1>
    </div>
    {% for gruppenspiel in alle_paarungen %}
        <div class="row">
            <div class="col-md-2">
                <p>{{gruppenspiel.gruppen_name}}</p>  
                </div>
            <div class="col-md-3">
            <p>{{gruppenspiel.spiel_termin|date:"d. F Y H:i"}} Uhr</p>  
            </div>
            <div class="col-md-2">
                <p>{{gruppenspiel.spiel_ort}}</p>
            </div>
            <div class="col-md-3">
                <p>{{gruppenspiel.heim_mannschaft}} : {{gruppenspiel.gast_mannschaft}} </p>
            </div>
            <div class="col-md-2">
                {% if gruppenspiel.tore_heim_mannschaft is None%}
                    <p> None : None </p>
                {% else %}
                    <p>{{gruppenspiel.tore_heim_mannschaft}} : {{gruppenspiel.tore_gast_mannschaft}}</p>
                {% endif %} 
            </div>
        </div>
    {% endfor %}
    <!--Zurück zur StartSeite springen-->
    <div class="row-mt-4">
        <a class="nav-link" href="{% url 'startSeite'%}">zurück zur Startseite</a>
    </div>
</div>
{% endblock content %}