{% extends 'index.html' %}

{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center mb-4">
        <h1>Tipps</h1>
    </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Gruppen </th>
                <th scope="col">Termine</th>
                <th scope="col">Spielort</th>
                <th scope="col">Partie</th>
                <th scope="col">Tipps</th>
                <th scope="col">Tippername</th>
                <th scope="col">Ergebnisse</th>
                <th scope="col">Tipp Heim</th>
                <th scope="col">Tipp Gast</th>
            </tr>
            </thead>
                <tbody>
                <form method="POST">
                {% csrf_token %}  
                {% for r in tipps %}  
                <tr>
                    <td>{{r.gruppen_name}}</td>
                    <td>{{r.spiel_termin|date:"d. F Y H:i"}}</td>
                    <td>{{r.spiel_ort}}</td>
                    <td>{{r.heim_mannschaft}} : {{r.gast_mannschaft}}</td>
                    {% if r.tore_heim_mannschaft is None and r.tore_gast_mannschaft is None%}
                        <td>None : None </td>
                    {% else %}
                        <td>{{r.tore_heim_mannschaft}} : {{r.tore_gast_mannschaft}}</td>
                    {% endif %}
                    <td>{{r.name}}</td>
                    {% if r.tipp_tore_heim is None and r.tipp_tore_gast is None%}
                        <td>None : None </td>
                    {% else %}
                        <td>{{r.tipp_tore_heim}} : {{r.tipp_tore_gast}}</td>
                    {% endif %}
                    <td><input type="number" name="heim_tore" class="form-control score-input" value="{{r.tipp_tore_heim}}" maxlength="2"></td>
                    <td><input type="number" name="gast_tore" class="form-control score-input" value="{{r.tipp_tore_gast}}" maxlength="2">
                        <input type="hidden" name="paarungen_id" value="{{r.paarungen_id}}">
                        <input type="hidden" name="tipp_id" value="{{r.tipp_id}}">
                    </td>
                </tr>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Tippabgabe</button>
                </form>
                </tbody>
        </table>
    <!--Zurück zur StartSeite springen-->
    <div class="row-mt-4">
        <a class="nav-link" href="{% url 'startSeite'%}">zurück zur Startseite</a>
    </div>
</div>
{% endblock content %}